@media screen and(max-width: 1300px) {
  
}

@media screen and(max-width: 960px) {
  .graphics__inner .graphics__block{
    flex-wrap: wrap;
  }
  .graphics__inner .graphics__item{
    flex: 0 1 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .graphics__inner .graphics__description{
    padding: 0 60px;
  }
  .graphics__inner .btn{
    margin-top: 30px;
  }
}


@media screen and(max-width: 869px) {
  .main-slider .slide__content{
    flex: 0 1 80%;
  }
  .header__links{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .nav-about{
    position: absolute !important;
  }
  .nav .nav-position{
    display: none;
  }
  .nav{
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    position: absolute;
    background-color: #079BE2;
    transition: left .33s ease;
    .container{
      display: flex;
      align-items: center;
    }
    ul li{
      margin-bottom: 30px;
    }
  }
  .nav .nav__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav__link{
      &:hover a::after{
        display: none;
      }
    }
  }

  .works__inner{
    padding: 70px 0;
  }
  .works__inner .works__title{
    margin-bottom: 50px;
  }
  .works__inner .works-block{
    justify-content: space-around;
  }
  .works__inner .works-block .slider__item{
    flex: 0 1 45%;
  }
  .works-more__block .works-more__title{
    width: 100%;
    font-size: 36px;
  }
  .company__inner .company__lead{
    margin-top: 20px;
  }
}

@media screen and(max-width: 680px){
  .maps .selectors__maps{
    flex-direction: column;
    align-items: center;
  }
  .footer__inner .footer__nav .nav__list li{
    &:hover a::after{
      display: none;
    }
  }
  .services__inner .services__item{
    flex: 0 1 50%;
  }
  .footer__inner .footer__nav .nav__list{
    flex-direction: column;
    align-items: center;
    li{
      margin-bottom: 15px;
    }
  }
  .footer__inner{
    padding: 30px 0;
  }
  .works__inner .works-block .slider__item{
    min-height: 400px;
  }
  .works-more-slider{
    margin-bottom: 100px;
  }
  .works-more__block.service-more img{
    width: 20%;
  }
  .brands__inner .brands__block{
    justify-content: space-around;
    .brands__item{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


@media screen and(max-width: 580px) {
  .about__inner{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .get-us{
    padding: 50px 0 35px;
  }
  .services__inner{
    padding: 70px 0;
  }
  .graphics__inner{
    padding: 70px 0;
  }
  .services__inner .services__block{
    margin-top: 30px;
  }
  .about__inner .about__undertitle{
    padding: 0;
  }
  .about__inner .about__text{
    padding: 0;
  }
  .main-slider .slide__content{
    flex: 0 1 90%;
  }
  .main-slider .slide__title{
    font-size: 36px;
    line-height: 1.2;
  }
  .main-slider .slide__text{
    padding: 0;
    font-size: 16px;
  }
  .works__inner{
    padding: 50px 0;
  }
  .graphics__inner .graphics__description{
    padding: 0 30px;
  }
  .graphics__inner .btn{
    margin-top: 30px;
  }
  .graphics__inner .graphics__item{
    flex: 0 1 100%;
  }
  .graphics__inner .graphics__description{
    padding: 0 10%;
  }
  .sertificate-slider .slider__item img{
    width: 100%;
  }
  .sertificate-slider .slick-list{
    padding: 0 !important;
    margin: 0 !important;
  }
  .works__inner .works-block .slider__item{
    flex: 0 1 80%;
    margin-bottom: 30px;
  }
}

@media screen and(max-width: 450px) {
  .works-more-slider{
    margin-bottom: 70px;
  }
  .services__inner .services__item{
    flex: 0 1 100%;
    margin-top: 45px;
  }
  .services__inner .services__name{
    padding: 0 30px;
  }
  .footer__inner .footer__links{
    flex-direction: column;
    align-items: center;
  }
  .footer__inner .footer__links .footer__link{
    margin: 0 10px;
  }
  .footer__inner .footer__links .footer__email{
    margin: 0;
    margin-bottom: 15px;
  }
  .footer__inner .footer__links .phone-number{
    margin: 0;
    margin-bottom: 15px;
  }
  .works-more__block .works-more__title{
    font-size: 30px;
  }
}


@media screen and(max-width: 420px) {
  .header__logo .logo__name{
    font-size: 12px;
  }
  .about__inner .about__undertitle{
    margin-top: 35px;
  }
  .works__inner .works-block .slider__item{
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
}



