// ---------------- FONTS --------------------//
@font-face {
    font-family: 'Calibri';
    src: url('Calibri-LightItalic.eot');
    src: local('Calibri Light Italic'), local('Calibri-LightItalic'),
        url('../fonts/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-LightItalic.woff2') format('woff2'),
        url('../fonts/Calibri-LightItalic.woff') format('woff'),
        url('../fonts/Calibri-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Italic.eot');
    src: local('Calibri Italic'), local('Calibri-Italic'),
        url('../fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Italic.woff2') format('woff2'),
        url('../fonts/Calibri-Italic.woff') format('woff'),
        url('../fonts/Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Light.eot');
    src: local('Calibri Light'), local('Calibri-Light'),
        url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Light.woff2') format('woff2'),
        url('../fonts/Calibri-Light.woff') format('woff'),
        url('../fonts/Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Bold.woff2') format('woff2'),
        url('../fonts/Calibri-Bold.woff') format('woff'),
        url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: local('Calibri'),
        url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff'),
        url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-BoldItalic.eot');
    src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
        url('../fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-BoldItalic.woff2') format('woff2'),
        url('../fonts/Calibri-BoldItalic.woff') format('woff'),
        url('../fonts/Calibri-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




// ---------------- NULLIFY ------------------//
*,*::before,*::after{margin: 0;padding: 0;border: 0;box-sizing: border-box;}
:focus,:active{outline: none;}a:focus,a:active{outline: none;}
nav,header,footer,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}input::-ms-clear{display: none;}
button{cursor: pointer;}button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}a:hover{text-decoration: none;}
ul li{list-style: none;}img{vertical-align: top;} h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body{
    font-family: 'Calibri';
    font-weight: 400;
}

// ---------------- CONTAINER ----------------//
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.wrapper{
    width: 100%;
    height: 100%;
}



// ------------------- HEADER ------------------ //

.btn{
    padding: 15px 30px;
    background: #00C8B3;
    border-radius: 25px;
    display: inline-block;
    transition: all .33s ease;
    span{
        color: #fff;
        text-transform: lowercase;
        font-weight: bold;
        text-decoration: none;
        font-size: 16px;
    }
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
    &:hover{
        background: rgb(3, 216, 195);
        box-shadow: 0 0 7px 3px rgba(3, 216, 195, 0.4);
    }
}


.header__logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    .logo__name{
        margin-left: 18px;
        font-weight: 700;
        color: #00499A;
        span{
            font-weight: 400;
            color: #312783;
        }
    }
}
.header__links{
    display: flex;
    align-items: center;
    .phone-number{
        font-size: 19px;
        font-weight: bold;
        margin-right: 30px;
    }
    .header__email{
        a{
            color: #0E8DCF;
            font-size: 14px;
            text-decoration: underline;
        }
        margin: 0 30px;
    }
    .langs{
        display: flex;
        .active-lang{
            background-color: #008BD0;
            color: #fff;
            border: none;
        }
        button{
            background-color: transparent;
            color: #0E8DCF;
            font-size: 16px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #D8EDF6;
            margin-right: 10px;
            font-weight: bold;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .header__link{
        color: #0E8DCF;
        font-size: 16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #D8EDF6;
        margin-right: 10px;
        transition: all ease .22s;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: #008BD0;
            color: #fff;
            border: none;
        }
    }
}

.hamburger{
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1000;
    display: none;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background: #008BD0;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
    background: #fff !important;
}

.nav-mobile{
    left: 0 !important;
}

.no-scroll{
    overflow: hidden;
}

.nav{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 75px;
    display: flex;
    justify-content: center;
    .nav__list{
        padding: 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav__link{
        a{
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: .2px;
            line-height: 1.4;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                top: -31px;
                left: 0;
                background: #D8EDF6;
                height: 5px;
                opacity: 0;
                transition: opacity .33s ease;
            }
        }
        &:hover a::after{
            opacity: 1;
        }
    }
}

.header__inner{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}

.slick-prev {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    border: 1.5px solid #fff;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.slick-next {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border: 1.5px solid #fff;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.main-slider{
    .slick-dots{
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(128, 91, 91, 0.16);
        border-radius: 15.5px;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        li{
            font-size: 0;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
        .slick-active{
            button{
                background: #079BE2;
            }
        }
        button{
            display: inline-block;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #D8EDF6;
        }
    }
    position: relative;
    .slider__item{
        width: 100%;
        height: calc(100vh - 75px);
        position: relative;
        .container{
            height: 100%;
            display: flex;
            align-items: center;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    .slide__content{
        flex: 0 1 65%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .slide__title{
        font-size: 46px;
        line-height: 56px;
        font-weight: bold;
        color: #fff;
    }
    .slide__text{
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        font-weight: 400;
        padding-right: 25%;
    }
    .btn{
        align-self: flex-start;
        margin-top: 10%;
    }
}


// -------------- ABOUT MAIN ---------------- //

.about__inner{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    .about__title{
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
    }
    .about__undertitle{
        color: #1F499D;
        font-size: 14px;
        line-height: 1.6;
        margin-top: 45px;
        font-weight: bold;
        padding: 0 15%;
    }
    .about__text{
        font-size: 14px;
        line-height: 1.8;
        margin-top: 30px;
        margin-bottom: 80px;
        color: #3F3F3F;
        padding: 0 70px;
    }
}

// ============== WORKS ============== // 
.s-works{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.works__inner{
    padding: 100px 0;
    min-height: 100vh;
    text-align: center;
    .works__title{
        font-size: 36px;
        color: #fff;
        margin-bottom: 83px;
    }
    .btn{
        margin-top: 50px;
    }
}

.works-slider,.works-block{
    position: relative;
    .slick-slide{
        div{
            height: 100%;
        }
    }
    .slick-prev {
        left: -3%;
    }
    .slick-next {
        right: -3%;
    }
    .slider__item{
        border-radius: 15px;
        display: block;
        height: 100%;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        width: 90% !important;
        background-color: #fff;
        .item__content{
            padding: 30px;
            text-align: left;
        }
        .item__bigtitle{
            font-size: 20px;
            color: #000000;
            font-weight: bold;
            line-height: 1.2;
            text-transform: uppercase;
        }
        .item__title{
            font-size: 14px;
            color: #000;
            line-height: 1.4;
            font-weight: bold;
            margin: 20px 0 10px;
        }
        .item__text{
            color: #3F3F3F;
            font-size: 14px;
            line-height: 1.4;
        }
    }
}

.s-services{
    background: rgba(239, 239, 244, 0.5);
}

.services__inner{
    padding: 100px 0;
    text-align: center;
    .services__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #333;
    }
    .services__block{
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .services__item{
        flex: 0 1 22%;
        padding: 0 20px;
        margin-top: 35px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .services__name{
        font-weight: bold;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 15px;
        color: #3F3F3F;
    }
    .services__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #fff;
    }
    .btn{
        margin-top: 60px;
    }
}

// ================ FOOTER ================= //


.footer{
    background: #2D2D2D;
}

.footer__inner{
    padding: 40px 0;
    .footer__nav{
        .nav__list{
            padding: 30px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .nav__link{
            a{
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: .2px;
                line-height: 1.4;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: -31px;
                    left: 0;
                    background: #D8EDF6;
                    height: 5px;
                    opacity: 0;
                    transition: opacity .33s ease;
                }
            }
            &:hover a::after{
                opacity: 1;
            }
        }
    }
    .footer__links{
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
        .footer__link{
            background-color: transparent;
            color: #fff;
            font-size: 16px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #D8EDF6;
            margin-right: 10px;
            font-weight: bold;
            &:last-child{
                margin-right: 0;
            }
        }
        .footer__email{
            a{
                font-size: 14px;
                color: #fff;
                text-decoration: underline;
            }
            &:hover a{
                color: #ccc;
            }
            margin-right: 30px;
            line-height: 1.2;
        }
        .phone-number{
            font-size: 19px;
            font-weight: bold;
            color: #fff;
            margin-right: 30px;
            line-height: 1.2;
        }
    }
    .links__block{
        display: flex;
        justify-content: space-between;
        .footer__link{
            margin-right: 15px;
            transition: all ease .22s;
            i{
                transition: color .22s ease;
            }
            &:hover i{
                color: #2D2D2D;
            }
            &:hover{
                background-color: #fff;
            }
        }
    }
    .copyright{
        text-align: center;
        margin-top: 35px;
        line-height: 1.2;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }
}


// ============= ABOUT PAGE ================= // 

.nav.nav-about{
    background: linear-gradient(181.55deg, #312783 -19.7%, #007EC6 44.1%, #019FDD 98.71%);
    position: static;
}

.nav-position{
    margin-top: 15px;
    font-size: 14px;
    color: #3F3F3F;
    line-height: 1.4;
    text-decoration: underline;
    a{
        color: #0E8DCF;
        text-decoration: underline;
    }
}

.company__inner{
    padding: 65px 0 100px;

    .company__title{
        color: #333333;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
    }
    .company__undertitle{
        font-size: 14px;
        color: #1F499D;
        font-weight: bold;
        line-height: 1.4;
        margin-top: 50px;
    }
    .company__lead{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .company__list{
        .list__item{
            line-height: 1.4;
            font-size: 14px;
            line-height: 1.4;
            padding: 5px 0;
            position: relative;
            padding-left: 10px;
            &::before{
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #0198D8;
                left: -5px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// =============== GRAPHICS ================== // 

.s-graphics{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.graphics__inner{
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;
    .btn{
        margin-top: 85px;
    }
    .graphics__title{
        font-size: 36px;
        line-height: 1.4;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }
    .graphics__block{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    .graphics__item{
        flex: 0 1 20%;
    }
    .graphics__info{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 15px solid rgba(255,255,255, .4);
        justify-content: flex-end;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .graphics__number{
        font-size: 50px;
        font-weight: bold;
        color: #fff;
    }
    .graphics__name{
        text-align: center;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 20px 30px 30px;
    }
    .graphics__description{
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 1.4;
        margin-top: 20px;
    }
}

// ================= SERTIFICATE ================ //

.s-sertificate{
    background: rgba(239, 239, 244, 0.5);
}

.sertificate__inner{
    padding: 100px 0;
    text-align: center;
    .sertificate__title{
        color: #333333;
        font-size: 36px;
        line-height: 1.4;
        font-weight: bold;
    }
    .sertificate__undertitle{
        color: #3F3F3F;
        font-size: 18px;
        line-height: 1.2;
        padding-top: 30px;
        font-weight: bold;
    }
}

.sertificate-slider{
    margin-top: 80px;
    position: relative;
    .slick-prev{
        border: 1.5px solid #0081C8;
    }
    .slick-next{
        border: 1.5px solid #0081C8;
    }
    .slick-list{
        padding: 0 !important;
        margin: 0 50px;
    }
    .slider__item{
        opacity: .3;
        transform: scale(0.9);
        transition: all ease .22s;
        img{
            width: 100%;
        }
    }
    .slick-center{
        .slider__item{
            opacity: 1;
            position: relative;
            z-index: 10;
            transform: scale(1.1);
        }
    }
}


// ===================== Works Page ================== // 


.works__inner{
    .works__page-title{
        color: #333;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .works-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        .slider__item{
            flex: 0 1 30%;
            margin-bottom: 3%;
            box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
            min-height: 600px;
        }
    }
}

.nav{
    .nav-position{
        margin-top: -20px;
        color: #8FD4F6;
        a{
            color: #fff;
        }
        .container{
            padding: 0;
        }
    }
}

// ================ Works more ================= // 

.works-more{
    background: #019FDD;
    position: static;
}

.works-more__block{
    background: #019FDD;
    .works-more__title{
        font-weight: bold;
        font-size: 46px;
        width: 60%;
        color: #fff;
        padding: 55px 0 35px;
        line-height: 1.6;
    }
}

.works-more-slider{
    position: relative;
    display: flex;
    margin-bottom: 175px;
    .slick-slide{
        margin: 0 15px;
    }
    .slick-prev{
        left: -5%;
        border: 1.5px solid #0081C8;
    }
    .slick-next{
        right: -5%;
        border: 1.5px solid #0081C8;

    }
    .slider__item{
        width: 22%;
        img{
            width: 100%;
        }
    }
}


//  ============= SERVICES ================== // 
.s-services.service-page{
    background-color: #fff;
    .services__img{
        border: 10px solid rgba(239, 239, 244, 0.5);
    }
}

.works-more__block.service-more{
    width: 100%;
    .container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .works-more__title{
        width: 80%;
    }
    img{
        width: 10%;
    }
}
.company__para{
    font-size: 14px;
    color: #3f3f3f;
    line-height: 1.4;
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}


// ============== Brands page ============= //

.brands__inner{
    padding: 100px 0;
    text-align: center;
    .brands__title{
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
    }
    .brands__block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 42px;
    }
    .brands__item{
        flex: 0 1 22%;
        margin-bottom: 70px;
    }
    .brands__img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 40px;
        box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
        border-radius: 10px;
    }
    .brands__text{
        font-size: 14px;
        color: #3f3f3f;
        line-height: 1.4;
        margin-top: 20px;
        text-align: center;

    }
}

// ================= Contact =============== //


.contact__inner{
    text-align: center;
    padding-top: 100px;
    .contact__title{
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
    }
}

.active-select{
    background: rgba(239, 239, 244, 0.5);
    .maps__city{
        color: #3F3F3F !important;
        text-decoration: none !important;
    }
}

.active-map{
    display: block !important;
}


.maps{
    margin-top: 62px;
    width: 100%;
    .map-1,.map-2{
        display: none;
        iframe{
            width: 100%;
            height: 80vh;
        }
    }
    .selectors__maps{
        display: flex;
        justify-content: center;
        .selector{
            text-align: center;
            padding: 20px 60px;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background: rgba(239, 239, 244, 0.3);
            }
            .maps__city{
                color: #008BD0;
                text-decoration: underline;
                font-size: 18px;
                font-weight: bold;
            }
            .maps__address{
                font-size: 16px;
                color: #3f3f3f;
                margin-top: 10px;
                line-height: 1.4;
            }
            .maps__email{
                display: inline-block;
                margin-top: 10px;
                color: #008BD0;
                text-decoration: underline;
            }
        }
    }
}


.get-us{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0 95px;
    .get-us__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 1.4;
        color: #fff;
    }
    .get-us__form{
        max-width: 750px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 35px;
        input{
            border: none;
            background: #FFFFFF;
            border-radius: 20px;
            height: 40px;
            padding: 0 20px;
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 20px;
        }
        textarea{
            border: none;
            padding: 20px;
            background: #FFFFFF;
            border-radius: 20px;
            font-size: 14px;
            line-height: 1.4;
        }
        .btn--get-us{
            display: block;
            max-width: 220px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}

@import 'media';