@font-face {
  font-family: 'Calibri';
  src: url("Calibri-LightItalic.eot");
  src: local("Calibri Light Italic"), local("Calibri-LightItalic"), url("../fonts/Calibri-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-LightItalic.woff2") format("woff2"), url("../fonts/Calibri-LightItalic.woff") format("woff"), url("../fonts/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri-Italic.eot");
  src: local("Calibri Italic"), local("Calibri-Italic"), url("../fonts/Calibri-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri-Italic.woff") format("woff"), url("../fonts/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri-Light.eot");
  src: local("Calibri Light"), local("Calibri-Light"), url("../fonts/Calibri-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri-Light.woff") format("woff"), url("../fonts/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri-Bold.eot");
  src: local("Calibri Bold"), local("Calibri-Bold"), url("../fonts/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri.eot");
  src: local("Calibri"), url("../fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri-BoldItalic.eot");
  src: local("Calibri Bold Italic"), local("Calibri-BoldItalic"), url("../fonts/Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri-BoldItalic.woff") format("woff"), url("../fonts/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Calibri';
  font-weight: 400;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 15px 30px;
  background: #00C8B3;
  border-radius: 25px;
  display: inline-block;
  -webkit-transition: all .33s ease;
  transition: all .33s ease;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
}

.btn span {
  color: #fff;
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background: #03d8c3;
  -webkit-box-shadow: 0 0 7px 3px rgba(3, 216, 195, 0.4);
          box-shadow: 0 0 7px 3px rgba(3, 216, 195, 0.4);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header__logo .logo__name {
  margin-left: 18px;
  font-weight: 700;
  color: #00499A;
}

.header__logo .logo__name span {
  font-weight: 400;
  color: #312783;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links .phone-number {
  font-size: 19px;
  font-weight: bold;
  margin-right: 30px;
}

.header__links .header__email {
  margin: 0 30px;
}

.header__links .header__email a {
  color: #0E8DCF;
  font-size: 14px;
  text-decoration: underline;
}

.header__links .langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links .langs .active-lang {
  background-color: #008BD0;
  color: #fff;
  border: none;
}

.header__links .langs button {
  background-color: transparent;
  color: #0E8DCF;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #D8EDF6;
  margin-right: 10px;
  font-weight: bold;
}

.header__links .langs button:last-child {
  margin-right: 0;
}

.header__links .header__link {
  color: #0E8DCF;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #D8EDF6;
  margin-right: 10px;
  -webkit-transition: all ease .22s;
  transition: all ease .22s;
}

.header__links .header__link:last-child {
  margin-right: 0;
}

.header__links .header__link:hover {
  background-color: #008BD0;
  color: #fff;
  border: none;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1000;
  display: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background: #008BD0;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background: #fff !important;
}

.nav-mobile {
  left: 0 !important;
}

.no-scroll {
  overflow: hidden;
}

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav__list {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav__link a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2px;
  line-height: 1.4;
  position: relative;
}

.nav .nav__link a::after {
  content: '';
  position: absolute;
  width: 100%;
  top: -31px;
  left: 0;
  background: #D8EDF6;
  height: 5px;
  opacity: 0;
  -webkit-transition: opacity .33s ease;
  transition: opacity .33s ease;
}

.nav .nav__link:hover a::after {
  opacity: 1;
}

.header__inner {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-prev {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  left: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-weight: bold;
  border: 1.5px solid #fff;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-next {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border: 1.5px solid #fff;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider {
  position: relative;
}

.main-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(128, 91, 91, 0.16);
          box-shadow: 0px 2px 10px rgba(128, 91, 91, 0.16);
  border-radius: 15.5px;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .slick-dots li {
  font-size: 0;
  margin-right: 10px;
}

.main-slider .slick-dots li:last-child {
  margin-right: 0;
}

.main-slider .slick-dots .slick-active button {
  background: #079BE2;
}

.main-slider .slick-dots button {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #D8EDF6;
}

.main-slider .slider__item {
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
}

.main-slider .slider__item .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-slider .slide__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-slider .slide__title {
  font-size: 46px;
  line-height: 56px;
  font-weight: bold;
  color: #fff;
}

.main-slider .slide__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  padding-right: 25%;
}

.main-slider .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10%;
}

.about__inner {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.about__inner .about__title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.about__inner .about__undertitle {
  color: #1F499D;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 45px;
  font-weight: bold;
  padding: 0 15%;
}

.about__inner .about__text {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 30px;
  margin-bottom: 80px;
  color: #3F3F3F;
  padding: 0 70px;
}

.s-works {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.works__inner {
  padding: 100px 0;
  min-height: 100vh;
  text-align: center;
}

.works__inner .works__title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 83px;
}

.works__inner .btn {
  margin-top: 50px;
}

.works-slider, .works-block {
  position: relative;
}

.works-slider .slick-slide div, .works-block .slick-slide div {
  height: 100%;
}

.works-slider .slick-prev, .works-block .slick-prev {
  left: -3%;
}

.works-slider .slick-next, .works-block .slick-next {
  right: -3%;
}

.works-slider .slider__item, .works-block .slider__item {
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 90% !important;
  background-color: #fff;
}

.works-slider .slider__item img, .works-block .slider__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 162px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.works-slider .slider__item .item__content, .works-block .slider__item .item__content {
  padding: 30px;
  text-align: left;
}

.works-slider .slider__item .item__bigtitle, .works-block .slider__item .item__bigtitle {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.works-slider .slider__item .item__title, .works-block .slider__item .item__title {
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  font-weight: bold;
  margin: 20px 0 10px;
}

.works-slider .slider__item .item__text, .works-block .slider__item .item__text {
  color: #3F3F3F;
  font-size: 16px;
  line-height: 1.4;
}

.s-services {
  background: rgba(239, 239, 244, 0.5);
}

.services__inner {
  padding: 100px 0;
  text-align: center;
}

.services__inner .services__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #333;
}

.services__inner .services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__inner .services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  padding: 0 20px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__inner .services__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 15px;
  color: #3F3F3F;
}

.services__inner .services__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
}

.services__inner .btn {
  margin-top: 60px;
}

.footer {
  background: #2D2D2D;
}

.footer__inner {
  padding: 40px 0;
}

.footer__inner .footer__nav .nav__list {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner .footer__nav .nav__link a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2px;
  line-height: 1.4;
  position: relative;
}

.footer__inner .footer__nav .nav__link a::after {
  content: '';
  position: absolute;
  width: 100%;
  top: -31px;
  left: 0;
  background: #D8EDF6;
  height: 5px;
  opacity: 0;
  -webkit-transition: opacity .33s ease;
  transition: opacity .33s ease;
}

.footer__inner .footer__nav .nav__link:hover a::after {
  opacity: 1;
}

.footer__inner .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner .footer__links .footer__link {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #D8EDF6;
  margin-right: 10px;
  font-weight: bold;
}

.footer__inner .footer__links .footer__link:last-child {
  margin-right: 0;
}

.footer__inner .footer__links .footer__email {
  margin-right: 30px;
  line-height: 1.2;
}

.footer__inner .footer__links .footer__email a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}

.footer__inner .footer__links .footer__email:hover a {
  color: #ccc;
}

.footer__inner .footer__links .phone-number {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  margin-right: 30px;
  line-height: 1.2;
}

.footer__inner .links__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner .links__block .footer__link {
  margin-right: 15px;
  -webkit-transition: all ease .22s;
  transition: all ease .22s;
}

.footer__inner .links__block .footer__link i {
  -webkit-transition: color .22s ease;
  transition: color .22s ease;
}

.footer__inner .links__block .footer__link:hover i {
  color: #2D2D2D;
}

.footer__inner .links__block .footer__link:hover {
  background-color: #fff;
}

.footer__inner .copyright {
  text-align: center;
  margin-top: 35px;
  line-height: 1.2;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.nav.nav-about {
  background: linear-gradient(181.55deg, #312783 -19.7%, #007EC6 44.1%, #019FDD 98.71%);
  position: static;
}

.nav-position {
  margin-top: 15px;
  font-size: 14px;
  color: #3F3F3F;
  line-height: 1.4;
  text-decoration: underline;
}

.nav-position a {
  color: #0E8DCF;
  text-decoration: underline;
}

.company__inner .company__title {
  color: #333333;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.company__inner .company__undertitle {
  font-size: 14px;
  color: #1F499D;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 50px;
}

.company__inner .company__lead {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.company__inner .company__list .list__item {
  line-height: 1.4;
  font-size: 14px;
  line-height: 1.4;
  padding: 5px 0;
  position: relative;
  padding-left: 10px;
}

.company__inner .company__list .list__item::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #0198D8;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.s-graphics {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.graphics__inner {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
}

.graphics__inner .btn {
  margin-top: 85px;
}

.graphics__inner .graphics__title {
  font-size: 36px;
  line-height: 1.4;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.graphics__inner .graphics__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.graphics__inner .graphics__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.graphics__inner .graphics__info {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 15px solid rgba(255, 255, 255, 0.4);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graphics__inner .graphics__number {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.graphics__inner .graphics__name {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 20px 30px 30px;
}

.graphics__inner .graphics__description {
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 20px;
}

.s-sertificate {
  background: rgba(239, 239, 244, 0.5);
}

.sertificate__inner {
  padding: 100px 0;
  text-align: center;
}

.sertificate__inner .sertificate__title {
  color: #333333;
  font-size: 36px;
  line-height: 1.4;
  font-weight: bold;
}

.sertificate__inner .sertificate__undertitle {
  color: #3F3F3F;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 30px;
  font-weight: bold;
}

.sertificate-slider {
  margin-top: 80px;
  position: relative;
}

.sertificate-slider .slick-prev {
  border: 1.5px solid #0081C8;
}

.sertificate-slider .slick-next {
  border: 1.5px solid #0081C8;
}

.sertificate-slider .slick-list {
  padding: 0 !important;
  margin: 0 50px;
}

.sertificate-slider .slider__item {
  opacity: .3;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all ease .22s;
  transition: all ease .22s;
}

.sertificate-slider .slider__item img {
  width: 100%;
}

.sertificate-slider .slick-center .slider__item {
  opacity: 1;
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.works__inner .works__page-title {
  color: #333;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.works__inner .works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.works__inner .works-block .slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-bottom: 3%;
  -webkit-box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
          box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
  min-height: 600px;
}

.nav .nav-position {
  margin-top: -20px;
  color: #8FD4F6;
}

.nav .nav-position a {
  color: #fff;
}

.nav .nav-position .container {
  padding: 0;
}

.works-more {
  background: #019FDD;
  position: static;
}

.works-more__block {
  background: #019FDD;
}

.works-more__block .works-more__title {
  font-weight: bold;
  font-size: 46px;
  width: 60%;
  color: #fff;
  padding: 55px 0 35px;
  line-height: 1.6;
}

.works-more-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 175px;
}

.works-more-slider .slick-slide {
  margin: 0 15px;
}

.works-more-slider .slick-prev {
  left: -5%;
  border: 1.5px solid #0081C8;
}

.works-more-slider .slick-next {
  right: -5%;
  border: 1.5px solid #0081C8;
}

.works-more-slider .slider__item {
  width: 22%;
}

.works-more-slider .slider__item img {
  width: 100%;
}

.s-services.service-page {
  background-color: #fff;
}

.s-services.service-page .services__img {
  border: 10px solid rgba(239, 239, 244, 0.5);
}

.works-more__block.service-more {
  width: 100%;
}

.works-more__block.service-more .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-more__block.service-more .works-more__title {
  width: 80%;
}

.works-more__block.service-more img {
  width: 10%;
}

.company__para {
  font-size: 14px;
  color: #3f3f3f;
  line-height: 1.4;
  margin-bottom: 30px;
}

.company__para:last-child {
  margin-bottom: 0;
}

.brands__inner {
  padding: 100px 0;
  text-align: center;
}

.brands__inner .brands__title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.brands__inner .brands__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 42px;
}

.brands__inner .brands__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  margin-bottom: 70px;
}

.brands__inner .brands__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 40px;
  -webkit-box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
          box-shadow: 0px 0px 2px rgba(176, 184, 185, 0.5);
  border-radius: 10px;
}

.brands__inner .brands__text {
  font-size: 14px;
  color: #3f3f3f;
  line-height: 1.4;
  margin-top: 20px;
  text-align: center;
}

.contact__inner {
  text-align: center;
  padding-top: 100px;
}

.contact__inner .contact__title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.active-select {
  background: rgba(239, 239, 244, 0.5);
}

.active-select .maps__city {
  color: #3F3F3F !important;
  text-decoration: none !important;
}

.active-map {
  display: block !important;
}

.maps {
  margin-top: 62px;
  width: 100%;
}

.maps .map-1, .maps .map-2 {
  display: none;
}

.maps .map-1 iframe, .maps .map-2 iframe {
  width: 100%;
  height: 80vh;
}

.maps .selectors__maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maps .selectors__maps .selector {
  text-align: center;
  padding: 20px 60px;
  border-radius: 10px;
  cursor: pointer;
}

.maps .selectors__maps .selector:hover {
  background: rgba(239, 239, 244, 0.3);
}

.maps .selectors__maps .selector .maps__city {
  color: #008BD0;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}

.maps .selectors__maps .selector .maps__address {
  font-size: 16px;
  color: #3f3f3f;
  margin-top: 10px;
  line-height: 1.4;
}

.maps .selectors__maps .selector .maps__email {
  display: inline-block;
  margin-top: 10px;
  color: #008BD0;
  text-decoration: underline;
}

.get-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0 95px;
}

.get-us .get-us__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  color: #fff;
}

.get-us .get-us__form {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 35px;
}

.get-us .get-us__form input {
  border: none;
  background: #FFFFFF;
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.get-us .get-us__form textarea {
  border: none;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
}

.get-us .get-us__form .btn--get-us {
  display: block;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (max-width: 960px) {
  .graphics__inner .graphics__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .graphics__inner .graphics__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .graphics__inner .graphics__description {
    padding: 0 60px;
  }
  .graphics__inner .btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 869px) {
  .main-slider .slide__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
  .header__links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav-about {
    position: absolute !important;
  }
  .nav .nav-position {
    display: none;
  }
  .nav {
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    position: absolute;
    background-color: #079BE2;
    -webkit-transition: left .33s ease;
    transition: left .33s ease;
  }
  .nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav ul li {
    margin-bottom: 30px;
  }
  .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .nav__list .nav__link:hover a::after {
    display: none;
  }
  .works__inner {
    padding: 70px 0;
  }
  .works__inner .works__title {
    margin-bottom: 50px;
  }
  .works__inner .works-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .works__inner .works-block .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .works-more__block .works-more__title {
    width: 100%;
    font-size: 36px;
  }
  .company__inner .company__lead {
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .maps .selectors__maps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner .footer__nav .nav__list li:hover a::after {
    display: none;
  }
  .services__inner .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__inner .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner .footer__nav .nav__list li {
    margin-bottom: 15px;
  }
  .footer__inner {
    padding: 30px 0;
  }
  .works__inner .works-block .slider__item {
    min-height: 400px;
  }
  .works-more-slider {
    margin-bottom: 100px;
  }
  .works-more__block.service-more img {
    width: 20%;
  }
  .brands__inner .brands__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .brands__inner .brands__block .brands__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 580px) {
  .about__inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .get-us {
    padding: 50px 0 35px;
  }
  .services__inner {
    padding: 70px 0;
  }
  .graphics__inner {
    padding: 70px 0;
  }
  .services__inner .services__block {
    margin-top: 30px;
  }
  .about__inner .about__undertitle {
    padding: 0;
  }
  .about__inner .about__text {
    padding: 0;
  }
  .main-slider .slide__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
  .main-slider .slide__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .main-slider .slide__text {
    padding: 0;
    font-size: 16px;
  }
  .works__inner {
    padding: 50px 0;
  }
  .graphics__inner .graphics__description {
    padding: 0 30px;
  }
  .graphics__inner .btn {
    margin-top: 30px;
  }
  .graphics__inner .graphics__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .graphics__inner .graphics__description {
    padding: 0 10%;
  }
  .sertificate-slider .slider__item img {
    width: 100%;
  }
  .sertificate-slider .slick-list {
    padding: 0 !important;
    margin: 0 !important;
  }
  .works__inner .works-block .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .works-more-slider {
    margin-bottom: 70px;
  }
  .services__inner .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 45px;
  }
  .services__inner .services__name {
    padding: 0 30px;
  }
  .footer__inner .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner .footer__links .footer__link {
    margin: 0 10px;
  }
  .footer__inner .footer__links .footer__email {
    margin: 0;
    margin-bottom: 15px;
  }
  .footer__inner .footer__links .phone-number {
    margin: 0;
    margin-bottom: 15px;
  }
  .works-more__block .works-more__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .header__logo .logo__name {
    font-size: 12px;
  }
  .about__inner .about__undertitle {
    margin-top: 35px;
  }
  .works__inner .works-block .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */